@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
}
body{
    background-color: #59adc9;
}
a{
    color: black;
    text-decoration: none;
}
.cor1{
    background-color: #59adc9;
    padding: 5px;
    border-radius: 5px;
}
.cor2{
    
}
#header{
    padding: 30px;
    background-color: #ececec;
    color: black;
    max-width: 1300px; /*determinou o tamanho do header, mais não a posição*/
    margin-left: 15%; /*colocar no meio*/
}
.top{
    /*Inicio - Display Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    /*Fim - Display Flex*/
}
.logo-top{
    font-size: 40px;
}
.logo{
    font-weight: 700;
    letter-spacing: 1px;
}
.nav-top a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding-left: 30px;
    font-weight: 600;
}
.nav-top a:hover{
    text-decoration: underline;
    color: #59adc9;
}
#main{
    
}
.section1{
    background-image: url(img/f1.jpg);
    max-width: 1300px;
    margin-left: 15%;
    padding: 30px;
    font-size: 25px;
    height: 787px;
}
.home{
    padding-top: 250px;
    font-size: 50px;
}
.section2{
    background-color: #ececec;
    max-width: 1300px;
    margin-left: 15%;
    padding: 30px;
    font-size: 25px;
    height: 393px;
    font-size: 30px;
}
.aboutme{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 200px;
    flex-direction: row;
    padding-top: 45px;
}
.aboutme li{
    font-size: 25px;
    margin-left: 25px;
}
.section3{
    background-color: white;
    max-width: 1300px;
    margin-left: 15%;
    padding: 30px;
    font-size: 25px;
    height: 787px;
}
.experiences{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 45px;
}
.experiences p{
    margin-left: 125px;
}
.experience2{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 80px;
    gap: 40px;
}
.chambery{
    font-size: 20px;
    margin-top: 26px;
    background-color: #59adc9;
    color: white;
    width: 480px;
    height: 140px;
    padding-top: 50px;
    padding-left: 30px;
    border-radius: 30px;
}
.section4{
    background-color: #ececec;
    max-width: 1300px;
    margin-left: 15%;
    padding: 30px;
    font-size: 25px;
    height: 787px;
}
.projects{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 45px;
}
.projects p{
    margin-left: 105px;
}
.section5{
    background-color: rgb(255, 0, 0);
    max-width: 1300px;
    margin-left: 15%;
    padding: 30px;
    font-size: 25px;
    height: 787px;
}